.flexcell {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .input-block {
        width: 50%;
        margin: 0 auto;

        label {
            margin: 5px;
        }

        input {
            width: 30px;
            margin: 5px;
            text-align: center;
        }
      }
    
    button {
        letter-spacing: 1pt;
        width: auto;
        padding: 15px;
        margin: 10px;
        border-radius: 5px;
        border: none;
        font-family: 'Amatic SC', cursive;
        color: black;
        font-size: 1.5em;
        font-weight: bold;
    }
}