header {
    font-family: 'Amatic SC', cursive;

    h1 {
        font-size: 4em;
        letter-spacing: 5pt;
        padding: 10px;
        margin: 20px;
    }

    h2 {
        font-size: 2em;
        letter-spacing: 2pt;
        padding: 10px;
        margin: 10px;  
    }
}