@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Oswald&display=swap');

/* ROOT AND APP STYLES */

#root {
  height: 100%;
  position: relative;
}

.App {
  height: 100%;
  position: relative;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
}

/* BASIC STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
}

body {
  height: 100%;
  position: relative;
}
